[submodule "ramnes"]
	path = ramnes
	url = https://github.com/ramnes/qtile-config.git
[submodule "zordsdavini"]
	path = zordsdavini
	url = https://github.com/zordsdavini/qtile-config.git
[submodule "justinesmithies"]
	path = justinesmithies
	url = https://github.com/justinesmithies/dotfiles
[submodule "mcol"]
	path = mcol
	url = https://github.com/m-col/qtile-config
[submodule "Qminimize"]
	path = Qminimize
	url = https://github.com/emanuelep57/Qminimize
[submodule "ani1001"]
	path = ani1001
	url = https://github.com/ani1001/dotfiles
[submodule "SpyrosRoum"]
	path = SpyrosRoum
	url = https://github.com/SpyrosRoum/qtile-config.git
